@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron text-center ">
    <h1>Welcome to Pets Unlimited</h1>
</div>
<div class="side">
     <div class="col-md-3">
     <h4><b>Our Store</b></h4>
        <p>Our store is located at 7593 West Jefferson Street</p>
        <p><b>Store Hours:</b></p>
        <p>Monday-Friday 8 A.M - 6 P.M</p>
        <p>Saturday and Sunday 9 A.M - 4 P.M</p>
    </div>
</div>
<div class="main">
    <div class="col-md-9">
        <p>A pet store or pet shop is a retail business which sells different kinds of animals, pet food, animal supplies, and pet accessories.
           In the USA, Pet shops often offer both hygienic care (such as pet cleaning) and esthetic services (such as cat and dog grooming). Grooming is the process by which a dog or cats's physical appearance is enhanced and kept according to breed standards for competitive breed showing, for other types of competition, like creative grooming or pet tuning contests, or just to their owners taste.</p>
        <p>Bacon ipsum dolor sit amet doner pork chop shank tail leberkas jowl. Chicken leberkas venison flank ball tip salami t-bone filet mignon. Pork ham leberkas chuck, sausage pig pork chop short ribs landjaeger tongue ham hock spare ribs meatball. Pork belly turkey kevin, sirloin pig meatball swine beef ribs doner.</p>
        
           <p>Venison beef ribs t-bone sausage bacon prosciutto. Turducken strip steak beef, pancetta swine pig pork loin fatback. T-bone beef ribs pork pork belly corned beef venison chicken jowl, porchetta andouille. Hamburger salami shank beef pork loin. Shoulder leberkas sirloin frankfurter, beef ribs short ribs meatball pork belly tenderloin.</p>

           <p>Kielbasa swine tongue boudin turducken bacon, sausage short ribs brisket porchetta fatback ham beef ribs rump t-bone. Short ribs frankfurter pancetta meatball jowl pork chop. Doner chuck tenderloin pork bacon salami frankfurter meatloaf leberkas ball tip turkey porchetta spare ribs pig. Flank chuck ribeye pork chop chicken kevin kielbasa tri-tip brisket. Jerky beef tail ham hock meatball chicken landjaeger cow meatloaf.</p>

           <p>Tongue cow filet mignon tail frankfurter swine short loin beef ribs doner drumstick pork chop spare ribs tri-tip. Jowl hamburger ham hock tenderloin bacon ball tip ground round venison kielbasa tongue. Brisket drumstick t-bone, meatloaf short loin biltong kielbasa. Pork pancetta leberkas cow tail. Prosciutto capicola boudin, bacon shankle landjaeger turducken ham hock tri-tip turkey pig pork belly sausage. Tri-tip rump pork chop beef ribs, prosciutto spare ribs frankfurter flank.</p>

           <p>Landjaeger jerky ham hock pastrami sirloin. Meatball hamburger shank turkey beef ribs. Chuck cow swine andouille sirloin brisket landjaeger tenderloin biltong shank tongue short loin pork chicken pancetta. Short ribs meatball ham hock shankle, tenderloin jowl doner corned beef hamburger. Rump pancetta capicola hamburger ham hock. Meatball tri-tip fatback t-bone cow ribeye. Pork loin short loin meatball pork chop prosciutto hamburger pork belly porchetta.</p>
    </div>
</div>